body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.malla {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.item {
    background-color: #b30000;
    color: white;
    padding: 30px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.item:hover {
    background-color: #800000;
}

#contenido {
    margin-top: 40px;
    font-size: 18px;
}

